:root {
    --santa-red: #A31123;
    --santa-red-alfa: rgba(163, 17, 34, 0.438);
    --santa-green: #0A9F99;
}

body{
    font-family: 'MedievalSharp', cursive;
}

.container-fluid {
    padding: 0;
}

#title {
    padding: 3% 15%;
    background-color: var(--santa-red);
    color: #fff;
}

h1 {
    font-family: 'MedievalSharp', cursive;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0;
    width: auto;
}

.navbar-brand {
    font-family: 'GFS Neohellenic', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item {
    padding: 0 1rem;
}

.nav-link {
    font-size: 1.2rem;
}

/*FIITYÖÖR sekšiön*/

.row{
    margin: 0;
    padding: 0;
}

.features{
    padding: 7% 15%;
    background-color: #fff;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.feature-box h3 {
    font-family: 'MedievalSharp', cursive;
    font-weight: 900;
}

.feature-box p {
    color: #8f8f8f;
}

#features i {
    color: var(--santa-red);
    margin-bottom: 1rem;
}

#features i:hover{
    color: var(--santa-green);
}

/*Testimouwnials*/
#testimonials {
    background-color: var(--santa-red-alfa);
    color: #fff;
    text-align: center;
}

#testimonials h2 {
    font-family: 'MedievalSharp';
    font-size: 3re;
    line-height: 1.5;
    font-weight: 900;
}

#testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2rem;
}

.press {
    background-color: var(--santa-red-alfa);
    text-align: center;
    margin-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 1.4rem 1.4rem 1.8rem
}

.carousel-item {
    padding: 7% 15%;
}

.card-header{
    background-color: #dddddd;
    font-size: 2rem;
}

.btn{
    border: 1px #000 solid;
}

.btn:hover{
    background-color: #f00;
    color: #ff0;
}

#pricing{
    text-align: center;
    padding: 4rem;
}

.pricing-column{
    padding: 3% 2%;
}